{{#if updatedQuestion}}
  <hr>
  <h3>Update Your Question</h3>
  <form>
    <div class="form-group">
      <label for="author">What is your name?</label>
      {{input value=authorUpdate class="form-control"}}
    </div>
    <div class="form-group">
      <label for="noteUpdate">Do you have any extra notes to add?</label>
      {{input value=noteUpdate class="form-control"}}
    </div>
    <div class="form-group">
      <label for="question">What is your question?</label>
      {{input value=questionUpdate class="form-control"}}
    </div>
      <button class="btn btn-primary" {{action 'update' question}}>Update</button>
    <button class="btn btn-danger" {{action 'noUpdate' question}}>Cancel</button>
  </form>
{{else}}
  <button class="btn btn-primary" {{action 'updateQuestion'}}>Update Question</button>
{{/if}}
