<h3><center>{{model.question}}</center></h3>
<h5>Username: {{model.author}}</h5>
<p>Notes: {{model.notes}}</p>

{{update-question update='update' question=model}}
{{answer-tile saveAnswer='saveAnswer' question=model}}
<button {{action 'delete' model}}>Delete</button>
<br>
{{#each model.answers as |answer|}}
  Username: {{answer.author}}
  <br>
  Answer: {{answer.answer}}
  <br><br><br>
{{/each}}
